*{
    margin: 0px;
    padding: 0px;
}
header{
background-image: url("headerBrick.jpg");

}    

#bricks{
}

#mainLogo{
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 20px;

    width: 30%;
    max-width: 50%;
    min-width: 10%;
}

#headerPhoneNum{
    color: wheat;
    background-color: black;
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    padding: 10px;
    border: 1px solid #fff;
    font-size: 22px;
}


.navbar{
    background-color: #2d553f;
    float: center;
    overflow: auto;
    
}

.navbar li{
    float: left;
    margin: 20px;
    margin-left: 10px;
    list-style-type: none;
    color: white;
    
}

.navbar li:hover{
    background-color: gray;
}